In [1]:
%matplotlib notebook

import pandas as pd

"""import os
import time
import sqlite3
import bz2
import requests
import xml.dom.minidom
import seaborn as sns
import numpy as np
import pandas as pd
import thinkstats2
import thinkplot
import plotly as ply
import pickle
import matplotlib.pyplot as plt
import bqplot.pyplot as bplt
import warnings
import ipywidgets
import h5py
import yellowbrick as yb
import sklearn

ply.offline.init_notebook_mode()
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.options.display.max_columns = None"""

"import os\nimport time\nimport sqlite3\nimport bz2\nimport requests\nimport xml.dom.minidom\nimport seaborn as sns\nimport numpy as np\nimport pandas as pd\nimport thinkstats2\nimport thinkplot\nimport plotly as ply\nimport pickle\nimport matplotlib.pyplot as plt\nimport bqplot.pyplot as bplt\nimport warnings\nimport ipywidgets\nimport h5py\nimport yellowbrick as yb\nimport sklearn\n\nply.offline.init_notebook_mode()\npd.set_option('display.float_format', lambda x: '%.3f' % x)\npd.options.display.max_columns = None"

In [3]:
car = pd.read_csv('car_data_clean_complete_v4.csv')
car = car.rename(index=str, columns={"vin_ss": "vin", "price_fs": "price", "miles_fs": "miles", "year_is": "year", "make_ss": "make", "model_ss": "model", "trim_ss": "trim", "vehicle_type_ss": "vehicle_type", "body_type_ss": "body_type", "drivetrain_ss": "drivetrain", "engine_ss":"engine", "engine_size_ss": "engine_size", "transmission_ss": "transmission", "doors_is": "doors", "cylinders_is": "cylinders", "interior_color_ss": "interior_color", "exterior_color_ss": "exterior_color", "zip_is": "zip", "dom_is": "dom", "dom_180_is": "dom_180", "msrp_fs": "msrp", "dom_active_is": "dom_active", "is_certified_is": "is_certified", "fuel_type_ss": "fuel_type", "scraped_at_dts": "scraped_at", "status_date_dts": "status_date", "stock_no_ss": "stock_no"})
car = car.drop(columns=['city_ss', 'state_ss'])
car['Median Household income num'] = (car['Median Household income'].replace ( '[\$,)]','', regex=True )
                                     .replace( '[(]','-',   regex=True ).astype(float))
car['Median Family income Num'] = (car['Median Family income'].replace ( '[\$,)]','', regex=True )
                                     .replace( '[(]','-',   regex=True ).astype(float))
car['Per Capita income Num'] = (car['Per Capita income'].replace ( '[\$,)]','', regex=True )
                                     .replace( '[(]','-',   regex=True ).astype(float))

In [24]:
region_ext = pd.read_csv('regions_states_ext_1.csv')

In [25]:
df = pd.merge(car, region_ext, how='inner', left_on='State short', right_on='States Short')
df = df.drop(columns=['county full', 'State full', 'States', 'state', 'Regions', 'State short', 'Per Capita income', 'Median Household income', 'Median Family income'])
df = df.rename(index=str, columns={"Number of households" : "Number_of_households"
                              ,"Median Household income num" : "Median_Household_income_num"
                              ,"Median Family income Num" : "Median_Family_income_num"
                              ,"Per Capita income Num" : "Per_Capita_income_Num"
                              ,"States Short" : "States_Short"
                              ,"Regions - Quads" : "Regions_Quads"
                              ,"Regions - Census" : "Regions_Census"
                              ,"Regions - Economic" : "Regions_Economic"
                              ,"Frost Belt" : "Frost_Belt"
                              ,"Rust Belt" : "Rust_Belt"
                              ,"Sun Belt" : "Sun_Belt"})

df = df.drop_duplicates(['price','miles','year', 'cylinders','msrp','is_certified','engine_size',
            'AGE','Population', 'doors', 'dom', 'dom_180', 'dom_active', 
            'make', 'model', 'trim', 'interior_color', 'exterior_color', 
            'zip', 'fuel_type', 'scraped_at','States_Short', 'stock_no', 'vehicle_type', 'body_type', 
            'drivetrain', 'engine', 'transmission', 'primary_city', 'county', 'timezone', 'Regions_Quads'
                        ])

df.to_csv('car_data_clean_complete_v5_ext.csv', index=False, header=True)

In [2]:
df = pd.read_csv('car_data_clean_complete_v5_ext.csv')
#car.rename(index=str, columns={})
#df = df.drop(columns=['Per Capita income', 'Median Household income', 'Median Family income'])
#df.to_csv('car_data_clean_complete_v5_ext.csv', index=False, header=True)

In [3]:
df.to_pickle("car_data_clean_complete_v5_ext.pkl")

In [10]:
df.columns
#df.shape()
#df.head(10)
#df.isnull().sum()

Index(['id', 'vin', 'price', 'miles', 'stock_no', 'year', 'make', 'model',
       'trim', 'vehicle_type', 'body_type', 'drivetrain', 'engine',
       'engine_size', 'transmission', 'doors', 'cylinders', 'interior_color',
       'exterior_color', 'dom', 'dom_180', 'msrp', 'dom_active',
       'is_certified', 'fuel_type', 'scraped_at', 'status_date', 'AGE', 'zip',
       'type', 'decommissioned', 'primary_city', 'county', 'timezone',
       'latitude', 'longitude', 'irs_estimated_population_2015', 'Population',
       'Number of households', 'Median Household income num',
       'Median Family income Num', 'Per Capita income Num', 'States Short',
       'Regions - Quads', 'Regions - Census', 'Regions - Economic',
       'Frost Belt', 'Rust Belt', 'Sun Belt'],
      dtype='object')

In [16]:
df = df.rename(index=str, columns={"Number of households" : "Number_of_households"
                              ,"Median Household income num" : "Median_Household_income_num"
                              ,"Median Family income Num" : "Median_Family_income_num"
                              ,"Per Capita income Num" : "Per_Capita_income_Num"
                              ,"States Short" : "States_Short"
                              ,"Regions - Quads" : "Regions_Quads"
                              ,"Regions - Census" : "Regions_Census"
                              ,"Regions - Economic" : "Regions_Economic"
                              ,"Frost Belt" : "Frost_Belt"
                              ,"Rust Belt" : "Rust_Belt"
                              ,"Sun Belt" : "Sun_Belt"})

In [2]:
df = pd.read_csv('car_data_clean_complete_v5_ext.csv')

In [5]:
df.shape

(1673412, 49)

In [16]:
df.loc[:10,["make", "model", "scraped_at", "status_date"]]

         make     model            scraped_at           status_date
0   Chevrolet  Traverse  2018-09-20T02:41:54Z  2018-09-23T22:01:56Z
1       Mazda      CX-9  2018-09-09T01:11:11Z  2018-09-24T02:37:49Z
2       Lexus    IS 350  2018-08-24T14:56:08Z  2018-09-23T07:24:31Z
3    Chrysler       300  2018-09-17T23:52:07Z  2018-09-23T00:24:20Z
4      Toyota     Camry  2018-09-19T01:05:34Z  2018-09-23T21:42:12Z
5      Toyota   4Runner  2018-09-11T01:54:54Z  2018-09-23T06:43:31Z
6         BMW  3 Series  2018-09-04T03:52:26Z  2018-09-24T01:45:07Z
7       Buick  LaCrosse  2018-09-22T03:34:32Z  2018-09-24T01:14:51Z
8   Chevrolet  Corvette  2018-09-08T17:01:52Z  2018-09-24T04:10:24Z
9   Chevrolet  Colorado  2018-09-13T20:57:27Z  2018-09-24T00:18:18Z
10       Jeep   Liberty  2018-09-20T04:28:00Z  2018-09-23T23:23:22Z

In [4]:
df = df.drop_duplicates(['price','miles','year', 'cylinders','msrp','is_certified','engine_size',
            'AGE','Population', 'doors', 'dom', 'dom_180', 'dom_active', 
            'make', 'model', 'trim', 'interior_color', 'exterior_color', 
            'zip', 'fuel_type', 'scraped_at','States_Short', 'stock_no', 'vehicle_type', 'body_type', 
            'drivetrain', 'engine', 'transmission', 'primary_city', 'county', 'timezone', 'Regions_Quads'
                        ])

In [20]:
df.to_csv('car_data_clean_complete_v5_ext.csv', index=False, header=True)